[Desktop Entry]
Encoding=UTF-8
Name=RealCash Wallet
Comment=RealCash wallet
Exec=RealCash %U
Terminal=false
Type=Application
Icon=realcash
MimeType=x-scheme-handler/realcash;
Categories=Office;Finance;
